# we don't want to add these files or folders to the repo

# the build folder is a temporary place we have while building the .spl file
/src/build/

# the SPL file should not be tracked
/src/TA_Snort3_json.spl
/src/TA_Snort3_json.*.spl
# ignore when we're creating new json sample files

/sample\ JSON\ data/alert_json.txt.1*